<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rainbow_magazine"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6a87f8aa78f915cf90f31acd75a5b5c6" />
        <activity
            android:name=".Activity_Shop_write"
            android:exported="false" />
        <activity
            android:name=".Activity_Style_write"
            android:exported="false" />
        <activity
            android:name=".Activity_News_write"
            android:exported="false" />
        <activity
            android:name=".Activity_Shop_detail"
            android:exported="false" />
        <activity
            android:name=".Fragment_Style"
            android:exported="false" />
        <activity
            android:name=".Activity_Join"
            android:exported="false" />
        <activity
            android:name=".Fragment_Shop"
            android:exported="false" />
        <activity
            android:name=".Fragment_Login"
            android:exported="false" />
        <activity
            android:name=".bottom_menu"
            android:exported="false" />
        <activity
            android:name=".Activity_Style_detail"
            android:exported="false" />
        <activity
            android:name=".Activity_Style"
            android:exported="false" />
        <activity
            android:name=".Activity_News_detail"
            android:exported="false" />
        <activity
            android:name=".Activity_admin_join"
            android:exported="false" />
        <activity
            android:name=".Fragment_Join"
            android:exported="false" />
        <activity
            android:name=".Activity_MY"
            android:exported="false" />
        <activity
            android:name=".Activity_News"
            android:exported="false" />
        <activity
            android:name=".Activity_Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao6a87f8aa78f915cf90f31acd75a5b5c6" />
            </intent-filter>
        </activity>
    </application>

</manifest>